<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">

<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>PIH</author>
	<description>
			OpenMRS Form Data Export Module
	</description>
	<activator>@MODULE_PACKAGE@.FormDataExportActivator</activator>

	<updateURL>https://dev.openmrs.org/modules/download/formdataexport/update.rdf</updateURL>
	<!-- /Base Module Properties -->
	
	<require_version>1.6.2.00</require_version>
	<require_modules>
		<require_module>org.openmrs.module.reporting</require_module>
		<require_module>org.openmrs.module.htmlformentry</require_module>
	</require_modules>
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.FormDataExportAdminExt</class>
	</extension>
	<!-- /Extensions -->
	
	
	<!-- AOP --><!--
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	--><!-- /AOP -->
	
	
	<!-- Required Privileges -->
	<privilege>
		<name>Manage Forms</name>
		<description>Allows users to manage forms.</description>
	</privilege>
	<privilege>
		<name>Manage Reports</name>
		<description>Allows users to manage reports.</description>
	</privilege>
	<privilege>
		<name>Manage Form Exports</name>
		<description>Allows users to manage form exports.</description>
	</privilege>
	<!-- /Required Privileges -->


	<!-- Required Global Properties -->
	<globalProperty>
		<property>formdataexport.patientIdentifierTypes</property>
		<defaultValue></defaultValue>
		<description>
			A comma-separated list of patient identifier types by identifier name that you want to include in your data exports.
		</description>
	</globalProperty>
	<globalProperty>
		<property>formdataexport.personAttributeTypes</property>
		<defaultValue></defaultValue>
		<description>
			A comma-separated list of person attribute types by name and the titles that you want to use for the columns. Each element of the list should be of the form "title=personAttributeType", where title is the title and personAttributeType is the name of the person attribute type. You may also include the following four special attribute types: age, gender, givenName and familyName. 
		</description>
	</globalProperty>	
	<globalProperty>
		<property>formdataexport.personAddressColumns</property>
		<defaultValue></defaultValue>
		<description>
			A comma-separated list of person address columns by name and the titles that you want to use for the columns. Each element of the list should be of the form "title=addressColumn", where title is the title and addressColumn is one of: address1, address2, address3, address4, address5, address6, cityVillage, countyDistrict, stateProvince, country, postalCode, latitude or longitude.
		</description>
	</globalProperty>
	<globalProperty>
		<property>formdataexport.skipColumnsWithSuffix</property>
		<defaultValue></defaultValue>
		<description>
			A comma-separated list of column suffixes to skip. If there are any exceptions, add a pipe symbol and then list the exceptions. For example "_DATE,_PARENT" and "_DATE,_PARENT|TRANSFER_IN_DATE" are both valid.
		</description>
	</globalProperty>
	<!-- /Required Global Properties -->
	
	<dwr>
		<allow>
			<create creator="new" javascript="FormDataExprtDWRUtil">
				<param name="class" value="org.openmrs.module.formdataexport.web.dynamic.FormDataExprtDWRUtil"/>
				<include method="getFormSections"/>
			</create>
			<convert converter="bean" match="org.openmrs.module.formdataexport.web.dynamic.HtmlFormSectionItem"/>
		</allow>
	</dwr>
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> -->
	
	<!-- #### TEMPORARY ACCESS TO QUEUE PROCESSING SERVLETS (Burke 3/18/2006) #### -->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with moduleId.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>pt</lang>
		<file>messages_pt.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<!--
	<mappingFiles>
		
	</mappingFiles>
	-->
</module>
